<div class="form-group col-md-8">
  <%= form_for(@track) do |track| %>
    <div class="field">
      <%= track.label :name %><br>
      <%= track.text_field :name %>
    </div>

    <div class="field">
      <%= track.label :description %><br>
      <%= track.cktext_area :description %>
    </div>

    <div class="field">
      <%= track.label :instructions %><br>
      <%= track.cktext_area :instructions %>
    </div>

    <div class="field">
      <%= track.label :references %><br>
      <%= track.cktext_area :references %>
    </div>

    <div class="field">
      <%= track.label :track_owner %><br>
      <%= track.autocomplete_field :name, autocomplete_user_name_tracks_path %>
    </div>

    <div class="field">
      <%= track.label :user_status %>
      <%= track.check_box :enabled %>
    </div>

    <div class="actions">
      <%= track.submit %>
    </div>
  <% end %>
</div>