<div class="form-group col-md-8">
  <%= form_for(@track) do |track| %>
    <div class="field">
      <%= track.label :name %>
      <%= track.text_field :name %>
    </div>

    <div class="field">
      <%= track.label :description %>
      <%= track.cktext_area :description %>
    </div>

    <div class="field">
      <%= track.label :instructions %>
      <%= track.cktext_area :instructions %>
    </div>

    <div class="field">
      <%= track.label :references %>
      <%= track.cktext_area :references %>
    </div>

    <div class="field">
      <%= track.label :track_owner %>
      <%= track.autocomplete_field :track_owner, autocomplete_user_name_tracks_path %>
    </div>

    <div class="field">
      <%= track.label :user_status %>
      <%= track.check_box :enabled %>
    </div>

    <div class="actions">
      <%= track.submit %>
    </div>
  <% end %>
</div>