<div class="form-group col-md-10">
  <%= form_for(@track) class: 'form-horizontal'do |track| %>

    <%= render partial: 'errors', locals: { object_with_errors: @track } if @track.errors.any? %>

    <div class="field">
      <%= track.label :name %>
      <%= track.text_field :name %>
    </div>

    <div class="field">
      <%= track.label :description %>
      <%= track.cktext_area :description %>
    </div>

    <div class="field">
      <%= track.label :instructions %>
      <%= track.cktext_area :instructions %>
    </div>

    <div class="field">
      <%= track.label :references %>
      <%= track.cktext_area :references %>
    </div>

    <div class="field">
      <%= track.label :track_owner %>
      <%= track.autocomplete_field :owner, autocomplete_user_name_tracks_path, id_element: '#track_owner_id', value: '' %>
      <%= track.hidden_field :owner_id %>
    </div>

    <% if (current_user.has_role?(:account_owner) || current_user.has_role?(:account_admin)) %>
      <div class="field">
        <%= track.label :track_status %>
        <%= track.check_box :enabled %>
      </div>
    <% end %>

    <div class="actions">
      <%= track.submit %>
    </div>
  <% end %>
</div>