<div class="form-group col-md-10 m-top">
  <%= form_for(@track, html: { class: 'form-well form-horizontal'}) do |track| %>

    <div class="field">
      <%= track.label :name %>
      <%= track.text_field :name %>
      <%= errors_for_field(@track, :name) %>
    </div>

    <div class="field m-top">
      <%= track.label :description %>
      <%= track.cktext_area :description %>
      <%= errors_for_field(@track, :description) %>
    </div>

    <div class="field m-top">
      <%= track.label :instructions %>
      <%= track.cktext_area :instructions %>
      <%= errors_for_field(@track, :instructions) %>
    </div>

    <div class="field m-top">
      <%= track.label :references %>
      <%= track.cktext_area :references %>
      <%= errors_for_field(@track, :references) %>
    </div>

    <div class="field m-top">
      <%= track.label :track_owner %>
      <%= track.autocomplete_field :owner, autocomplete_user_name_tracks_path, id_element: '#track_owner_id', value: "#{ @track.owner.try(:name) }" %>
      <%= track.hidden_field :owner_id %>
      <%= errors_for_field(@track, :owner_id) %>

    </div>

    <div class="actions">
      <%= track.submit class: 'btn btn-default m-top' %>
      <%= link_to 'Cancel', tracks_path, class: 'btn btn-default m-top' %>
    </div>
  <% end %>
</div>