<div class="track_form form-group col-md-8">
  <h2 class='m-left'>
    Edit Track : <%= @track.name.to_s.humanize %>
  </h2>

  <%= form_for(:track, as: @track,  html: { method: :put }) do |track| %>

    <div class="field">
      <%= track.label :name %>
      <%= track.text_field :name %>
      <%= errors_for_field(@track, :name) %>
    </div>

    <div class="field">
      <%= track.label :description %>
      <%= track.cktext_area :description %>
      <%= errors_for_field(@track, :description) %>
    </div>

    <div class="field">
      <%= track.label :instructions %>
      <%= track.cktext_area :instructions %>
      <%= errors_for_field(@track, :instructions) %>
    </div>

    <div class="field">
      <%= track.label :references %>
      <%= track.cktext_area :references %>
      <%= errors_for_field(@track, :references) %>
    </div>

    <div class="field">
      <%= track.label :track_owner %>
      <%= track.autocomplete_field :owner, autocomplete_user_name_tracks_path, id_element: '#user_owner_id', value: @track.owner.name %>
      <%= track.hidden_field :owner_id, value: :owner_email, class:"owner_email" %>
    </div>

    <div class="actions">
      <%= track.submit class: 'btn btn-default btn-lg m-top' %>
    </div>
  <% end %>
</div>