<div class = 'reviewer'>
  <%= render partial: 'side_navigation' %>
  <div class="col-md-10 bg-fff h500 p20">
    <div class = 'reviewer form-group'>
      <div >
        <%= form_for(@track, url: assign_reviewer_track_path, remote: true, class: 'form-horizontal') do |track| %>
          <div class="field">
            <div class="col-md-2"></div>
            <div class="col-md-2">
              <%= track.label :track_reviewer %>
            </div>
            <div class="col-md-6">
              <%= track.autocomplete_field :reviewer_name, autocomplete_user_name_tracks_path, id_element: '#track_reviewer_id', value: '', class: 'form-control' %>
            </div>
            <%= track.hidden_field :reviewer_id %>
            <div class="col-md-4"></div>
            <div class="col-md-6">
              <%= errors_for_field(@track, :reviewer_name) %>
            </div>
            <div class="col-md-4"></div>
            <div class="col-md-6">
              <%= track.submit "Add", class: "reviewer btn btn-primary add_reviewer m-top m-down-2x" %>
            </div>
          </div>
          <br>
        <% end %>
      </div>
    </div>

    <div class="row">
      <div class="column">
        <table class="sortable_table table table-bordered table-striped reviewer_table m-left-x">
          <thead>
            <tr>
              <th>Reviewer</th>
              <th>Reviewer Name</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            <% @track.reviewers.each do |reviewer| %>
              <tr>
                <td><%= link_to reviewer.name, reviewer %></td>
                <td><%= link_to reviewer.email, reviewer %></td>
                <td><%= link_to 'Remove', remove_reviewer_track_path(@track, reviewer), remote: true, data: { confirm: "Are you sure?" } %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>