<div class = 'reviewer'>
<div class = 'reviewer_form'>
  <%= form_for(@track, url: assign_reviewer_track_path, remote: true, class: 'review_form') do |track| %>
    <div class="field">
      <%= track.label :track_reviewer %>
      <%= track.autocomplete_field :reviewer_name, autocomplete_user_name_tracks_path, id_element: '#track_reviewer_id', value: '' %>
      <%= track.hidden_field :reviewer_id %>
    </div>
    <br>
    <%= track.submit "Add", class: "reviewer btn btn-primary add_reviewer" %>
  <% end %>
</div>

<div class="container">
  <div class="row">
    <h3>Track</h3>
    <div class="column">
      <table class="sortable_table table table-bordered table-striped reviewer_table ">
        <thead>
          <tr>
            <th>Reviewer</th>
            <th>Reviewer Name</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <% @track.reviewer.each do |reviewer| %>
            <tr>
              <td><%= link_to reviewer.name, reviewer %></td>
              <td><%= link_to reviewer.email, reviewer %></td>
              <td><%= link_to 'Remove', remove_reviewer_track_path(@track, reviewer), remote: true %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
</div>