<div class="span8 offset1">
  <h2 class='m-left m-top m-left-4x'>
    Show <%= @track.name.to_s.humanize %>
  </h2>

  <dl class="dl-horizontal form-horizontal">

    <div class="form-group">
      <dt class='col-sm-2 control-label'><strong>Track:</strong></dt>
      <div class="col-sm-4">
        <dd><%= @track.name %></dd>
      </div>
    </div>

    <div class="form-group">
      <dt class='col-sm-2 control-label'><strong>Description:</strong></dt>
      <div class="col-sm-4">
        <dd><%= @track.description %></dd>
      <div>
    </div>

    <div class="form-group">
      <dt class='col-sm-2 control-label'><strong>Instructions:</strong></dt>
      <div class="col-sm-4">
        <dd><%= @track.instructions %></dd>
      </div>
    </div>

    <div class="form-group">
      <dt class='col-sm-2 control-label'><strong>References:</strong></dt>
      <div class="col-sm-4">
        <dd><%= @track.references %></dd>
      </div>
    </div>

    <div class="form-group">
      <dt class='col-sm-2 control-label'><strong>Track Owner:</strong></dt>
      <div class="col-sm-4">
        <dd><%= @track.owner.name %></dd>
      </div>
    </div>
  </dl>
  <%= link_to 'Back', tracks_path(company: @track.company_id), class: 'btn btn-default btn-lg m-top m-left-2x' %>
</div>