<div class="form-group col-md-8">
  <h2 class='m-left m-top'>
    Show <%= @track.name.to_s.humanize %>
  </h2>

  <div class="field m-top">
    Track: <%= @track.name %>
  </div>

  <div class="field m-top">
    Description: <%= @track.description %>
  </div>

  <div class="field m-top">
    Instructions: <%= @track.instructions %>
  </div>

  <div class="field m-top">
    References: <%= @track.references %>
  </div>

  <div class="field m-top">
    Track Owner: <%= @track.owner.name %>
  </div>

  <%= link_to 'Back', tracks_path(company: @track.company_id) %>
</div>