<%= render partial: 'side_navigation' %>
<div class="col-md-10 m-top m-left-375x">
  <h2 class='m-left m-top m-left-475x'>
    <%= @track.name.to_s.humanize %>
  </h2>

  <div class="form-group">
    <label class='control-label'><strong>Track:</strong></label>
    <span class='form-control', readonly><%= @track.name %></span>
  </div>

  <div class="form-group">
    <label class='control-label'><strong>Description:</strong></label>
    <span class='form-control', readonly><%= @track.description %></span>
  </div>

  <div class="form-group">
    <label class='control-label'><strong>Instructions:</strong></label>
    <span class='form-control', readonly><%= @track.instructions %></span>
  </div>

  <div class="form-group">
    <label class='control-label'><strong>References:</strong></label>
    <span class='form-control', readonly><%= @track.references %></span>
  </div>

  <div class="form-group">
    <label class='control-label'><strong>Track Owner:</strong></label>
    <span class='form-control', readonly><%= @track.owner.name %></span>
  </div>

  <% if(current_user.has_role?(:track_owner, @track)) %>
    <p><%= link_to 'Edit', edit_track_path(@track), class: 'btn btn-default btn-lg m-top m-left-5x' %></p>
  <% end %>

  <%= link_to 'Back', tracks_path, class: 'btn btn-default btn-lg m-top m-left-5x' %>
</div>