<div class="span8 offset1">
  <h2 class='m-left m-top m-left-5x'>
    Show <%= @track.name.to_s.humanize %>
  </h2>

  <div class="form-group">
    <label class='control-label'><strong>Track:</strong></label>
    <span class='form-control', readonly><%= @track.name %></span>
  </div>

  <div class="form-group">
    <label class='control-label'><strong>Description:</strong></label>
    <span class='form-control', readonly><%= @track.description %></span>
  </div>

  <div class="form-group">
    <label class='control-label'><strong>Instructions:</strong></label>
    <span class='form-control', readonly><%= @track.instructions %></span>
  </div>

  <div class="form-group">
    <label class='control-label'><strong>References:</strong></label>
    <span class='form-control', readonly><%= @track.references %></span>
  </div>

  <div class="form-group">
    <label class='control-label'><strong>Track Owner:</strong></label>
    <span class='form-control', readonly><%= @track.owner.name %></span>
  </div>
  <%= link_to 'Back', tracks_path(company: @track.company_id), class: 'btn btn-default btn-lg m-top m-left-5x' %>
</div>