<%= render partial: 'side_navigation' %>
<div class="col-md-10 bg-fff h500 p20">
  <div class="m-top">
    <h3 class='m-left-2x'>
      <%= @track.name.to_s.humanize %>
    </h3 >

    <div class="form-group">
      <label class='control-label col-md-3 m-top m-down-x'><strong>Track:</strong></label>
      <div class="col-md-9 readonly">
        <p><%= @track.name %></p>
      </div>
    </div>

    <div class="form-group">
      <label class='control-label col-md-3 m-top m-down-x'><strong>Description:</strong></label>
      <div class="col-md-9 readonly">
        <p><%= @track.description.html_safe %></p>
      </div>
    </div>

    <div class="form-group">
      <label class='control-label col-md-3 m-top m-down-x'><strong>Instructions:</strong></label>
      <div class="col-md-9 readonly">
        <p><%= @track.instructions.html_safe %></p>
      </div>
    </div>

    <div class="form-group">
      <label class='control-label col-md-3 m-top m-down-x'><strong>References:</strong></label>
      <div class="col-md-9 readonly">
        <p><%= @track.references.html_safe %></p>
      </div>
    </div>

    <div class="form-group">
      <label class='control-label col-md-3 m-top m-down-x'><strong>Track Owner:</strong></label>
      <div class="col-md-9 readonly">
        <p><%= @track.owner.name %></p>
      </div>
    </div>

    <div class='pull-right'>
      <% if current_user.account_owner? || current_user.account_admin? || current_user == @track.owner %>
      <!-- FIXED -->
      <!-- FIXME : Indentation not correct -->
        <%= link_to 'Edit', edit_track_path(@track), class: 'btn btn-default m-top' %>
        <%= link_to 'New Task', new_track_task_path(@track), class: 'btn btn-default m-top' %>
      <% end %>
    <div>
  </div>
</div>