<p>
  <strong>Task Title:</strong>
  <%= @task.title %>
</p>

<p>
  <strong>Task Description:</strong>
  <%= @task.description %>
</p>

<% if @task.specific %>
  <p>
    <strong>Task Instructions:</strong>
    <%= @task.instructions %>
  </p>
  <p>
    <strong>Task sample solution:</strong>
    <% if @task.sample_solution.path %>
      <%= link_to 'Download',[:sample_solution, @track, @task] %>
    <% end %>
  </p>  
  <p>
    <strong>Task Reviewer:</strong>
    <%= @task.reviewer_name %>
  </p>
<% end %>
<%= link_to 'Edit', edit_track_task_path(@track, @task)%>