<div class="form-group">
  <strong>Task Title:</strong>
  <%= @task.title %>
</div>

<div class="form-group">
  <strong>Task Description:</strong>
  <%= @task.description %>
</div>

<% if @task.specific %>
  <div class="form-group">
    <strong>Task Instructions:</strong>
    <%= @task.instructions %>
  </div>

  <div class="form-group">
    <strong>Task sample solution:</strong>
    <% if @task.sample_solution.path %>
      <%= link_to 'Download',[:sample_solution, @track, @task] %>
      <%= link_to 'Remove',[:remove_sample_solution, @track, @task] %>
    <% end %>
  </p>

  <p>
    <strong>Task Reviewer:</strong>
    <%= @task.reviewer_name %>
  </div>

  <%= link_to 'Edit', edit_track_task_path(@track, @task)%>
<% end %>
