<div class="form-well col-md-10 m-top m-left-x">
  <div class="form-group">
    <label class='col-md-3'><strong>Task Title:</strong></label>
    <div class="col-md-9 readonly">
      <p><%= @task.title %></p>
    </div>
  </div>
  <% if @task.description %>
    <div class="form-group">
      <label class='control-label col-md-3 m-top m-down-x'><strong>Task Description:</strong></label>
      <div class="col-md-9 readonly">
        <p><%= @task.description %></p>
      </div>
    </div>
  <% end %>

  <% if @task.specific %>
    <div class="form-group">
      <label class='control-label col-md-3 m-top m-down-x'><strong>Task Instructions:</strong></label>
      <div class="col-md-9 readonly">
        <p><%= @task.instructions %></p>
      </div>
    </div>

    <div class="form-group">
      <label class='control-label col-md-3 m-top m-down-x'><strong>Task sample solution:</strong></label>
      <div class="col-md-9 readonly">
        <p><%= link_to 'Download',[:sample_solution, @track, @task] if @task.sample_solution.path %></p>
      </div>
    </div>

    <div class="form-group">
      <label class='control-label col-md-3 m-top m-down-x'><strong>Task Reviewer:</strong></label>
      <div class="col-md-9 readonly">
        <p><%= @task.reviewer_name %></p>
      </div>
    </div>
  <% end %>
  <%= link_to 'Edit', edit_track_task_path(@track, @task), class: 'btn btn-default m-left-5x m-top' %>
</div>
