<%= form_for(@user, html: { class: 'form-horizontal'}) do |user| %>
  <!-- FIXME error_message partial should be global, not just for company -->
  <!-- FIXED -->
  <!-- FIXME Move this error_message thing in different partial -->
  <div class="form-group">
    <%= user.label :user_name, class: 'col-sm-2 control-label' %>
    <div class="col-sm-4">
      <%= user.text_field :name, class: 'form-control' %>
      <%= errors_for_field(@user, :name) %>
    </div>
  </div>
  <div class="form-group">
    <%= user.label :user_email, class: 'col-sm-2 control-label' %>
    <div class="col-sm-4">
      <%= user.text_field :email, class: 'form-control' %>
      <%= errors_for_field(@user, :email) %>
    </div>
  </div>
  <div class="form-group">
    <%= user.label :user_department, class: 'col-sm-2 control-label' %>
    <div class="col-sm-4">
      <%= user.autocomplete_field :department, autocomplete_user_department_users_path, class: 'form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= user.label :user_mentor, class: 'col-sm-2 control-label' %>
    <div class="col-sm-4">
      <%= user.hidden_field :mentor_id %>
      <%= user.autocomplete_field :mentor, autocomplete_user_name_users_path, id_element: '#user_mentor_id', class: 'form-control' %>
      <%= errors_for_field(@user, :mentor) %>
    </div>
  </div><br><br>
  <% if current_user.has_role? :account_owner, current_user.company %>
    <div class="form-group">
      <%= user.label :is_admin?, class: 'col-sm-2 control-label' %>
      <%= user.check_box :admin %>
    </div>
  <% end %>
  <div class="form-group">
    <%= user.label :enabled?, class: 'col-sm-2 control-label' %>
    <%= user.check_box :enabled %>
  </div>
  <div class="form-group">
    <%= user.label :tracks, "Tracks", class: 'col-sm-2 control-label' %>
    <%= collection_check_boxes(:user, :track_ids, current_user.company.tracks, :id, :name, default: [current_user.company.tracks.ids]) %>
  </div>
  <div class="actions">
    <div class="col-sm-2"></div>
    <%= user.submit 'Create User', class: 'btn btn-default btn-lg' %>
  </div>
<% end %>
