<%= form_for(@user, html: { class: 'form-well form-horizontal'}) do |user| %>
  <div class="form-group">
    <%= user.label :user_name, class: 'col-sm-2 control-label' %>
    <div class="col-sm-4">
      <%= user.text_field :name, class: 'form-control' %>
      <%= errors_for_field(@user, :name) %>
    </div>
  </div>

  <div class="form-group">
    <%= user.label :user_email, class: 'col-sm-2 control-label' %>
    <div class="col-sm-4">
      <% if @user.email.blank? %>
        <%= user.text_field :email, class: 'form-control' %>
        <%= errors_for_field(@user, :email)%>
      <% else %>
        <%= user.text_field :email, class: 'form-control', readonly: true%>
      <% end %>
    </div>
  </div>

  <div class="form-group">
    <%= user.label :user_department, class: 'col-sm-2 control-label' %>
    <div class="col-sm-4">
      <%= user.autocomplete_field :department, autocomplete_user_department_users_path, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= user.label :user_mentor, class: 'col-sm-2 control-label' %>
    <div class="col-sm-4">
      <%= user.hidden_field :mentor_id %>
      <%= user.autocomplete_field :mentor_name, autocomplete_user_name_users_path, id_element: '#user_mentor_id', class: 'form-control' %>
      <%= errors_for_field(@user, :mentor) %>
    </div>
  </div><br>

  <% if current_user.has_role? :account_owner, current_company %>
    <div class="form-group label_with_check_box">
      <%= user.label :is_admin?, class: 'col-sm-2 control-label' %>
      <%= user.check_box :is_admin %>
    </div>
  <% end %>

  <div class="form-group label_with_check_box">
    <% if !@user.account_owner? %>
      <%= user.label :enabled?, class: 'col-sm-2 control-label' %>
      <%= user.check_box :enabled %>
    <% end %>
  </div>

  <div class="form-group">
    <%= user.label :assign_tracks, class: 'col-sm-2 control-label h4 mbot20' %>
    <div class="col-sm-12">
      <%= user.collection_check_boxes :track_ids, current_user.company.tracks, :id, :name do |b| %>
      <div class="track_check_box col-sm-4">
        <label>
          <%= b.text %>
          <%= b.check_box %>
        </label>
      </div>
      <div class="col-sm-1"></div>
      <% end %>
    </div>
  </div>

  <div class="actions">
    <div class="col-sm-2"></div>
    <%= user.submit 'Save User', class: 'btn btn-default btn-lg' %>
    <%= link_to 'Cancel', users_path, class: 'btn btn-default btn-lg' %>
  </div>
<% end %>