<div class="form-group">
  <%= form_for(@user) do |user| %>
    <%= render partial: 'errors', locals: { object_with_errors: @user } if @user.errors.any? %>

    <div class="field">
      <%= user.label :user_name %><br>
      <%= user.text_field :name %>
    </div>
    <div class="field">
      <%= user.label :user_email %><br>
      <%= user.text_field :email %>
    </div>
    <div class="field">
      <%= user.label :user_department %><br>
      <%= user.autocomplete_field :department, autocomplete_user_department_users_path %>
    </div>
    <div class="field">
      <%= user.label :user_mentor %><br>
      <%= user.hidden_field :mentor_id %>
      <%= user.autocomplete_field :mentor, autocomplete_user_name_users_path, id_element: '#user_mentor_id' %>
    </div><br><br>
    <% if current_user.has_role? :account_owner %>
      <div class="field">
        <%= user.label :is_admin? %>
        <%= user.check_box :admin %>
      </div>
    <% end %>
    <div class="field">
      <%= user.label :enabled? %>
      <%= user.check_box :enabled %>
    </div>
    
    
    <div class="actions">
      <%= user.submit %>
    </div>
  <% end %>
</div>
