<%= form_for(@user, html: { class: 'col-sm-7 form-well form-horizontal m-left-3x' }) do |user| %>
  <div class="form-group">
    <%= user.label :user_name, class: 'col-sm-3 control-label' %>
    <div class="col-sm-8">
      <%= user.text_field :name, class: 'form-control' %>
      <%= errors_for_field(@user, :name) %>
    </div>
  </div>

  <div class="form-group">
    <%= user.label :user_email, class: 'col-sm-3 control-label' %>
    <div class="col-sm-8">
      <% if @user.persisted? %>
        <%= user.text_field :email, class: 'form-control', readonly: true%>
      <% else %>
        <%= user.text_field :email, class: 'form-control' %>
        <%= errors_for_field(@user, :email)%>
      <% end %>
    </div>
  </div>

  <div class="form-group">
    <%= user.label :user_department, class: 'col-sm-3 control-label' %>
    <div class="col-sm-8">
      <%= user.autocomplete_field :department, autocomplete_user_department_users_path, class: 'form-control' %>
      <%= errors_for_field(@user, :department)%>
    </div>
  </div>

  <div class="form-group">
    <%= user.label :user_mentor, class: 'col-sm-3 control-label' %>
    <div class="col-sm-8">
      <%= user.hidden_field :mentor_id %>
      <%= user.autocomplete_field :mentor_name, autocomplete_user_name_users_path, id_element: '#user_mentor_id', class: 'form-control' %>
      <%= errors_for_field(@user, :mentor) %>
    </div>
  </div><br>

  <% if current_user.account_owner? %>
    <div class="form-group label_with_check_box">
      <%= user.label :account_admin?, class: 'col-sm-3 control-label' %>
      <%= check_box_tag :account_admin?, value = true, @user.account_admin? %>
    </div>
  <% end %>

  <div class="form-group label_with_check_box">
    <% if !@user.account_owner? %>
      <%= user.label :enabled, class: 'col-sm-3 control-label' %>
      <%= user.check_box :enabled %>
    <% end %>
  </div>

  <% unless(current_company.tracks.blank?) %>
    <div class="form-group">
      <%= user.label :assign_tracks, class: 'col-sm-3 control-label h4 mbot20' %>
      <div class="col-sm-12">
        <%= user.collection_check_boxes :tracks_with_role_runner_ids, current_company.tracks, :id, :name do |track| %>
          <div class="track_check_box col-sm-4">
            <label>
              <%= truncate(track.text, length: 12) %>
            </label>
          </div>
          <div class="col-sm-1">
            <%= track.check_box %>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>

  <div class="actions">
    <div class="col-sm-2 m-left-x"></div>
    <%= user.submit 'Save User', class: 'btn btn-default' %>
    <%= link_to 'Cancel', users_path, class: 'btn btn-default' %>
  </div>
<% end %>