<td><%= link_to user.name, user %></td>

<td><%= link_to user.email, user %></td>

<td><%= user.department %></td>

<td>
  <% if user.account_owner? %>
    <%= 'Account Owner' %>
  <% elsif user.account_admin? %>
    <%= 'Admin' %>
  <% else %>
    <%= '-' %>
  <% end %>
</td>

<td>
  <%= link_to 'Show', user , class: 'p-right p-left' %>
  <%= link_to 'Edit', edit_user_path(user), class: 'p-right p-left' %>
  <%= link_to 'Progress', class: 'p-right p-left' %>
</td>
