<td><%= link_to user.name, user %></td>
<td><%= link_to user.email, user %></td>
<td><%= user.department %></td>
<td>
  <% if user.roles.any?{|role| role.name.to_sym == :account_owner} %>
    <%= 'Account Owner' %>
  <% elsif user.any?{|role| role.name.to_sym == :account_owner} %>
    <%= 'Admin' %>
  <% else %>
    <%= '-' %>
  <% end %>
</td>
<td>
  <%= link_to 'Show', user %>
  <%= link_to 'Edit', edit_user_path(user) %>
  <%= link_to 'Progress' %>
</td>
