<div class="container">
  <div class="row">
    <div>
      <%= link_to 'Create User', new_user_path, class: 'btn btn-primary btn-lg pull-right  m-right' %>
      <h3 class='m-left'>Users</h3>
    </div>
    <div class="column">

      <table class="sortable_table table table-bordered table-striped ">
        <thead>
          <tr>
            <%= content_tag :th, sort_link(@search, :name, 'Name',  default_order: { name: 'asc' }) %>
            <%= content_tag :th, sort_link(@search, :email, 'Email') %>
            <%= content_tag :th,sort_link(@search, :department) %>
            <th>
              Roles
            </th>
            <th>
              Actions
            </th>
          </tr>
        </thead>
        <tbody>
          <% @users.each do |user| %>
            <tr>
              <%= render user %>
            </tr>
          <% end %>
        </tbody>
      </table>
      <%= paginate @users %>
    </div>
  </div>
</div>
