<div class="authform">
  <h3>User</h3>
  <% if(current_user.account_owner?) %>
    <p><%= link_to 'Edit', edit_user_path(@user), class: 'button' %></p>
  <% elsif (current_user.account_admin? && !@user.account_owner?) %>
    <p><%= link_to 'Edit', edit_user_path(@user), class: 'button' %></p>
  <% end %>
  <p>Name: <%= @user.name %></p>
  <p>Email: <%= @user.email %></p>
  <p>Department: <%= @user.email if @user.department %></p>
  <p>Mentor: <%= @user.mentor.name if @user.mentor %></p>
  <p>Is Admin?: <%= @user.account_admin? ? 'Yes' : 'No' %></p>
  <p>Status: <%= @user.enabled ? 'Enabled' : 'Disabled' %></p>
</div>