<div class="form-well col-md-10 m-top m-left-x">
  <h3 class='m-left-5x'>
    User
  </h3>

  <% if current_user.account_owner? %>
    <div class="form-group">
      <label class='control-label col-md-3 m-top m-down-x'><strong>Company Name:</strong></label>
      <div class="col-md-9 readonly">
        <p><%= current_company.name %></p>
      </div>
  <% end %>

  <div class="form-group">
    <label class='control-label col-md-3 m-top m-down-x'><strong>Name:</strong></label>
    <div class="col-md-9 readonly">
      <p><%= @user.name %></p>
    </div>
  </div>

  <div class="form-group">
    <label class='control-label col-md-3 m-top m-down-x'><strong>Email:</strong></label>
    <div class="col-md-9 readonly">
      <p><%= @user.email %></p>
    </div>
  </div>
  <% if !@user.department.blank?%>
    <div class="form-group">
      <label class='control-label col-md-3 m-top m-down-x'><strong>Department:</strong></label>
      <div class="col-md-9 readonly">
        <p><%= @user.department %></p>
      </div>
    </div>
  <% end %>

  <% if !@user.mentor.blank?%>
    <div class="form-group">
      <label class='control-label col-md-3 m-top m-down-x'><strong>Mentor:</strong></label>
      <div class="col-md-9 readonly">
        <p><%= @user.mentor_name %></p>
      </div>
    </div>
  <% end %>

  <div class="form-group">
    <label class='control-label col-md-3 m-top m-down-x'><strong>Account Admin?:</strong></label>
    <div class="col-md-9 readonly">
      <p><%= @user.account_admin? ? 'Yes' : 'No' %></p>
    </div>
  </div>

  <div class="form-group">
    <label class='control-label col-md-3 m-top m-down-x'><strong>Status:</strong></label>
    <div class="col-md-9 readonly">
      <p><%= @user.enabled ? 'Enabled' : 'Disabled' %></p>
    </div>
  </div>
  <% if (current_user.account_owner?) || (current_user.account_admin? && ((!@user.account_admin? && !@user.account_owner?) || current_user == @user)) %>
    <p><%= link_to 'Edit', edit_user_path(@user), class: 'btn btn-default m-left-5x m-top' %></p>
  <% end %>

</div>