<%= form_for(@usertask, url: url_for(controller: :usertasks, action: 'submit_task', id: @usertask), remote: true) do |usertask| %>

  <% if @usertask.task.specific %>
    <div class="form-group">
      <%= usertask.label :solution, class: 'col-sm-3 control-label' %>
      <div class="col-sm-8">
        <%= usertask.url_field :url, :class => 'url_field', class: 'form-control' %>
        <%= errors_for_field(@usertask, :url) %>
      </div>
    </div>

    <div class="form-group">
      <%= usertask.label :comment, class: 'col-sm-3 control-label' %>
      <div class="col-sm-8">
        <%= usertask.text_area :comment, class: 'form-control', rows: 3, placeholder: "Click to add in a comment.." %>
          <%= errors_for_field(@usertask, :comment) %>
      </div>
    </div>
  <% end %>

  <div class="form-group">
    <%= usertask.label :task_status, class: 'col-sm-3 control-label' %>
    <div class="col-sm-8">
      <%= Task::STATE[@usertask.aasm_state.to_sym] %>
    </div>
  </div>

  <div class="col-sm-3"></div>
  <% if Task::STATE[@usertask.aasm_state.to_sym] != 'Completed' %>
    <% if @usertask.urls.empty? %>
      <%= usertask.submit 'Submit', class: 'btn btn-default' %>
    <% else %>
      <%= usertask.submit 'Resubmit', class: 'btn btn-default' %>
    <% end %>
  <% end %>
<% end %>