<div class="form-group">
  <%= form_for(@company) do |company| %>
    <!-- FIXME Move this error_message thing in different partial -->
    <%= render partial: 'errors', locals: { object_with_errors: @company } if @company.errors.any? %>

    <div class="field">
      <%= company.label :company_name %><br>
      <%= company.text_field :name %>
    </div>
    <div class="field">
      <%= company.label :owner_name %><br>
      <%= company.text_field :owner_name %>
    </div>
    <div class="field">
      <%= company.label :owner_email %><br>
      <%= company.text_field :owner_email %>
    </div>
    <div class="actions">
      <%= company.submit %>
    </div>
  <% end %>
</div>
