<%= form_for(@company) do |f| %>
  <% if @company.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@company.errors.count, "error") %> prohibited this company from being saved:</h2>

      <ul>
      <% @company.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :company_name %><br>
    <%= f.text_field :name %>
  </div>
  <%= f.fields_for(:users) do |u| %>
    <div class="field">
      <%= u.label :owner_name %><br>
      <%= u.text_field :name %>
    </div>
    <div class="field">
      <%= u.label :email %><br>
      <%= u.email_field :email %>
    </div>
  <% end %>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>