<p id="notice"><%= notice %></p>

<p>
  <strong>Company Name:</strong>
  <%= @company.name %>
</p>

<p>
  <strong>Company Owner:</strong>
  <%= @company.owner.first.name %>
</p>

<p>
  <strong>Email id:</strong>
  <%= @company.owner.first.email %>
</p>

<p>
  <strong>Company Status:</strong>
  <%= @company.status %>
</p>

<p>
  <%= link_to 'Back', companies_path %>
</p>