<div class="col-md-10 form-well m-top m-left-x">
  <h3 class='m-left-425x'>Company</h3>

  <div class="form-group">
    <label class='control-label col-md-3 m-top m-down-x'><strong>Company Name:</strong></label>
    <div class="col-md-8 readonly">
      <p><%= @company.name %>
  </div>

  <div class="form-group">
    <label class='control-label col-md-3 m-top m-down-x'><strong>Company Owner:</strong></label>
    <div class="col-md-8 readonly">
      <p><%= @company.owner.name %></p>
    </div>
  </div>

  <div class="form-group">
    <label class='control-label col-md-3 m-top m-down-x'><strong>Email-ID:</strong></label>
    <div class="col-md-8 readonly">
      <p><%= @company.owner.email %></p>
    </div>
  </div>

  <div class="form-group">
    <label class='control-label col-md-3 m-top m-down-x'><strong>Company Status:</strong></label>
    <div class="col-md-8 readonly">
      <p><%= @company.status %></p>
    </div>
  </div>

  <%= link_to 'Back', companies_path, class: 'btn btn-default m-left-425x m-top' %>
</div>