<p id="notice"><%= notice %></p>

<p>
  <strong>Company Name:</strong>
  <%= @company.name %>
</p>

<p>
  <strong>Owner:</strong>
  <%= @company.owner.email %>
</p>

<p>
  <strong>Account Status:</strong>
  <%= render partial: 'link_to_enabled', locals: {company: @company} %>
</p>

<%= link_to 'Back', companies_path %>
