<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- extract this logic in helper #site_title-->
    <title><%= content_for?(:title) ? yield(:title) : "vTapp" %></title>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <header>
      <%= render 'shared/navigation' if user_signed_in? %>
    </header>
    <main role="main">
      <div class="row">
        <%= render 'shared/messages' %>
        <%= yield %>
      </div>
    </main>
  </body>
</html>
